.body{
    margin: 0px;
}
.navigation a{
 color: gray;
}
.container{
    padding-bottom: 100px;
}
.Buy-now-button{
    background-color:black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.bg-add{
    background-image: url("images/Background-image/bg-2.png");
    background-repeat: no-repeat;
}
.bg-product{
    background-image: url("images/Background-image/bg-1.png");
    background-repeat: no-repeat;
}

.carousel-item{
    padding: 15px 20px;
}
.card{
    border-radius: 15px;
    box-shadow: 10px 12px 12px gray;
}
.card-footer{
    border: none;
    color: whitesmoke;
}
.cat-pic{
    border: 2px solid whitesmoke;
}
.cat-pic img{
    height: 100px;
    width: 100px;
}
.cat-pic-2{
    height: 50%;
    width: 50%;
}
/* .phone{
    text-align:justify;
    padding: 10px 15px;
} */